BasedOnStyle: LLVM
Standard: Cpp11
SortIncludes: true
SortUsingDeclarations: false

ColumnLimit: 0
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
MaxEmptyLinesToKeep: 2

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  #AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakBeforeBinaryOperators: All
AlignAfterOpenBracket: DontAlign
SpaceBeforeParens: ControlStatements
AlwaysBreakTemplateDeclarations: true
AlignEscapedNewlines: Left
PointerAlignment: Left
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: All

FixNamespaceComments: true

SpacesBeforeTrailingComments: 2
CommentPragmas: '[!\*]'
